@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

body {
  font-family: "Inter", sans-serif;
}

@layer base {
  :root {
    --gradient: #1fa2ff;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 218 100% 56%;
    --primary-foreground: 218 10% 5.6000000000000005%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --gradient: #1fa2ff;
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 218 100% 56%;
    --primary-foreground: 218 10% 5.6000000000000005%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

:root {
  --color-black: 0 0 0;
  --color-white: 255 255 255;
  --color-gray-50: 250 250 250;
  --color-gray-100: 244 244 245;
  --color-gray-150: 236 236 238;
  --color-gray-200: 228 228 231;
  --color-gray-250: 220 220 224;
  --color-gray-300: 212 212 216;
  --color-gray-350: 187 187 193;
  --color-gray-400: 161 161 170;
  --color-gray-450: 137 137 146;
  --color-gray-500: 113 113 122;
  --color-gray-550: 98 98 107;
  --color-gray-600: 82 82 91;
  --color-gray-650: 73 73 81;
  --color-gray-700: 63 63 70;
  --color-gray-750: 51 51 56;
  --color-gray-800: 39 39 42;
  --color-gray-850: 32 32 35;
  --color-gray-900: 24 24 27;
  --color-gray-950: 18 18 21;
  --color-overlay: rgb(var(--color-black) / 60%);
  --space-0: 0;
  --space-1: 0.125rem;
  --space-2: 0.25rem;
  --space-3: 0.375rem;
  --space-4: 0.5rem;
  --space-5: 0.625rem;
  --space-6: 0.75rem;
  --space-7: 0.875rem;
  --space-8: 1rem;
  --space-9: 1.25rem;
  --space-10: 1.5rem;
  --space-11: 1.75rem;
  --space-12: 2rem;
  --space-13: 2.25rem;
  --space-14: 2.5rem;
  --space-15: 3rem;
  --space-16: 3.5rem;
  --space-17: 4rem;
  --space-18: 4.5rem;
  --space-19: 5rem;
  --space-20: 6rem;
  --space-21: 7rem;
  --space-22: 8rem;
  --space-23: 9rem;
  --space-24: 10rem;
  --size-2xs: 0.625rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 2rem;
  --size-4xl: 3rem;
  --radius-xs: 0.3rem;
  --radius-sm: 0.4rem;
  --radius: 0.7rem;
  --radius-lg: 0.8rem;
  --shadow-xs: 0 1px 4px rgb(var(--color-black) / 5%);
  --shadow-sm: 0 2px 8px rgb(var(--color-black) / 5%);
  --shadow: 0 3px 10px rgb(var(--color-black) / 5%);
  --shadow-lg: 0 4px 20px rgb(var(--color-black) / 5%);
  --shadow-xl: 0 5px 30px rgb(var(--color-black) / 5%);
  --backdrop-surface: saturate(2) blur(16px);
  --transition: 0.15s ease-in-out;
  --transition-linear: 0.15s linear;
  --header-height: 60px;
  --z-above: 100;
  --z-overlay: 200;
  --z-badge: 1000;
  --opacity-hover: 0.8;
  --opacity-disabled: 0.5;

  accent-color: var(--color-accent);
}

/* Light theme */
:root {
  --color-red: 239 67 67;
  --color-green: 132 204 22;
  --color-accent: rgb(var(--color-gray-900));
  --color-surface: rgb(var(--color-gray-100));
  --color-surface-hover: rgb(var(--color-gray-150));
  --color-surface-elevated: rgb(var(--color-white));
  --color-border: rgb(var(--color-gray-150));
  --color-border-contrasted: rgb(var(--color-gray-250));
  --color-border-transparent: rgb(var(--color-gray-900) / 10%);
  --color-skeleton: rgb(var(--color-gray-150));
  --color-skeleton-shine: rgb(var(--color-gray-50));
  --color-tooltip: rgb(var(--color-gray-950));
  --color-tooltip-text: rgb(var(--color-white));
  --color-tooltip-border: rgb(var(--color-gray-750));
  --color-text: rgb(var(--color-gray-900));
  --color-text-light: rgb(var(--color-gray-600));
  --color-text-lighter: rgb(var(--color-gray-500));
  --color-text-lightest: rgb(var(--color-gray-400));

  color-scheme: light;
}

/* Dark theme */
[data-theme="dark"] {
  --color-red: 248 113 113;
  --color-green: 162 230 53;
  --color-accent: rgb(var(--color-white));
  --color-surface: rgb(var(--color-gray-850));
  --color-surface-hover: rgb(var(--color-gray-800));
  --color-surface-elevated: rgb(var(--color-gray-950));
  --color-border: rgb(var(--color-gray-750));
  --color-border-contrasted: rgb(var(--color-gray-650));
  --color-border-transparent: rgb(var(--color-white) / 10%);
  --color-skeleton: rgb(var(--color-gray-750));
  --color-skeleton-shine: rgb(var(--color-gray-850));
  --color-text: rgb(var(--color-white));
  --color-text-light: rgb(var(--color-gray-300));
  --color-text-lighter: rgb(var(--color-gray-400));
  --color-text-lightest: rgb(var(--color-gray-500));

  color-scheme: dark;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .card-wrapper {
    @apply dark:dark-gradient bg-light-900 shadow-light-100 dark:shadow-dark-100;
  }

  .btn {
    @apply bg-light-800 dark:bg-dark-300 !important;
  }

  .btn-secondary {
    @apply bg-light-800 dark:bg-dark-400 !important;
  }

  .btn-tertiary {
    @apply bg-light-700 dark:bg-dark-300 !important;
  }

  .primary-gradient {
    background: linear-gradient(129deg, #1fa2ff 0%, #5abafe 100%);
  }

  .dark-gradient {
    background: linear-gradient(
      232deg,
      rgba(23, 28, 35, 0.41) 0%,
      rgba(19, 22, 28, 0.7) 100%
    );
  }

  .tab {
    @apply min-h-full bg-light-800 text-light-500 data-[state=active]:bg-primary-100 data-[state=active]:text-primary-500 dark:bg-dark-400 dark:data-[state=active]:bg-dark-300 !important;
  }
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

div.TextEditor_bubbleMenuWrapper__tNAk4 {
  @apply bg-light-850 dark:bg-dark-100 dark:border-dark-300;
}

.active-theme {
  filter: invert(53%) sepia(98%) saturate(3332%) hue-rotate(0deg)
    brightness(104%) contrast(106%) !important;
}

.light-gradient {
  background: linear-gradient(
    132deg,
    rgba(247, 249, 255, 0.5) 0%,
    rgba(229, 237, 255, 0.25) 100%
  );
}

.primary-text-gradient {
  background: linear-gradient(129deg, #1fa2ff 0%, #5abafe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #fff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1fa2ff;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Clerk */
.cl-internal-b3fm6y {
  background: linear-gradient(129deg, #1fa2ff 0%, #5abafe 100%) !important;
}

.hash-span {
  margin-top: -140px;
  padding-bottom: 140px;
  display: block;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
